

@media only screen and (max-width: 768px) {
    .about-us-section{
        flex-direction: column;
    }
    .about-us-section > img{
        width: auto;
    }
    .about-us-section > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-layout{
        flex-direction: column-reverse;
    }
}





