/*Horizontal navbar*/

nav{
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav > ul{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 50px;
}


nav > ul > li{
    border-radius: 20px;
    padding: 5px;
    transition: all 0.3s ease;
}

nav > ul > li:hover{
    background-color: #FBAE3C;
    color: black;
    transform: scale(1.1);
}