@import "tailwindcss";


/*
    Text Fonts - Poppins
    - Main Heading (Bold, 48)
    - Sub Heading (Semi-Bold, 24)
    - Section Titles (Medium, 18)
    - Body Text (Regular, 14)
    - Link (Medium, 16)
    - Caption (Light, 12)

    Color pallete
    - #FFFFFF (white)
    - #FBAE3C (Golden Orange)
    - #001220 (Deep Navy Blue)
    - #FF7D00 (Safe orange)
*/

.poppins-Main-Heading{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.poppins-Sub-Heading{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.poppins-Section-Titles{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.poppins-Body-Text{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.poppins-Link{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.poppins-Caption{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    color: white;
}

/* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */
  

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
  display: none;
}


body{
  background-color: #001220;
  position: relative;
}

.con{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blob-motion{
  z-index: -1;
  position:fixed;
  transform: translateY(-20%);
}

.hiddens{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(40px);
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}


@media (prefers-reduced-motion) {
  .hidden{
    transition: none;
    filter: blur(0);
    transform: translateX(0);
  }
}

